URxvt*depth: 32
!URxvt*background: #1e1e1e
!URxvt*foreground: #8A8A8A
URxvt*scrollBarPosition: right
URxvt*scrollBar: false
URxvt*font: xft:Terminess Powerline:size=9
URxvt*geometry: 94x19
URxvt.cursorBlink: 0
!URxvt.intensityStyles: false

! Normal
! color0    black
! color1    red
! color2    green
! color3    yellow
! color4    blue
! color5    purple
! color6    cyan
! color7    white

!URxvt*color1:    #C94444
!URxvt*color2:    #C94444
!URxvt*color4:    #444444
!URxvt*color6:    #EDEDED

! Light
! color8    black
! color9    red
! color10    green
! color11    yellow
! color12    blue
! color13    purple
! color14    cyan
! color15    white

!URxvt*color9:     #C94444
!URxvt*color10:    #C99999
!URxvt*color12:    #C94444
!URxvt*color14:    #EDEDED

! Base16 Default
! Scheme: Chris Kempson (http://chriskempson.com)

#define base00 #181818
#define base01 #282828
#define base02 #383838
#define base03 #585858
#define base04 #b8b8b8
#define base05 #d8d8d8
#define base06 #e8e8e8
#define base07 #f8f8f8
#define base08 #ab4642
#define base09 #dc9656
#define base0A #f7ca88
#define base0B #a1b56c
#define base0C #86c1b9
#define base0D #7cafc2
#define base0E #ba8baf
#define base0F #a16946

URxvt*.foreground:   base05
URxvt*.background:   base00
URxvt*.cursorColor:  base05
URxvt*.color0:       base00
URxvt*.color1:       base08
URxvt*.color2:       base0B
URxvt*.color3:       base0A
URxvt*.color4:       base0D
URxvt*.color5:       base0E
URxvt*.color6:       base0C
URxvt*.color7:       base05
URxvt*.color8:       base03
URxvt*.color9:       base09
URxvt*.color10:      base01
URxvt*.color11:      base02
URxvt*.color12:      base04
URxvt*.color13:      base06
URxvt*.color14:      base0F
URxvt*.color15:      base07

!S O L A R I Z E D
!#define S_base03        #002b36
!#define S_base02        #073642
!#define S_base01        #586e75
!#define S_base00        #657b83
!#define S_base0         #839496
!#define S_base1         #93a1a1
!#define S_base2         #eee8d5
!#define S_base3         #fdf6e3

!*background:            S_base03
!*foreground:            S_base0
!*fadeColor:             S_base03
!*cursorColor:           S_base1
!*pointerColorBackground:S_base01
!*pointerColorForeground:S_base1

!#define S_yellow        #b58900
!#define S_orange        #cb4b16
!#define S_red           #dc322f
!#define S_magenta       #d33682
!#define S_violet        #6c71c4
!#define S_blue          #268bd2
!#define S_cyan          #2aa198
!#define S_green         #859900

! black dark/light
!*color0:                S_base02
!*color8:                S_base03

!! red dark/light
!*color1:                S_red
!*color9:                S_orange

!! green dark/light
!*color2:                S_green
!*color10:               S_base01

!! yellow dark/light
!*color3:                S_yellow
!*color11:               S_base00

!! blue dark/light
!*color4:                S_blue
!*color12:               S_base0

!! magenta dark/light
!*color5:                S_magenta
!*color13:               S_violet

!! cyan dark/light
!*color6:                S_cyan
!*color14:               S_base1

!! white dark/light
!*color7:                S_base2
!*color15:               S_base3
